.footer-info{
    padding-top: 20px;
    background-color: #f1f1f1;
    color: #444;
    width: 100%;
    bottom: 0;
}
.about, .contact-info{
    padding-top: 20px;
}
.about-p{
    text-align: justify;
}
.logo-footer img{
    width: 120px;
    margin-left: 30%;
}
.logos {
    margin-left: 25%;
}
.logos a{
    padding-right: 20px;
    font-size: 25px;
}
.fa-facebook, .fa-youtube, .fa-linkedin-in, .fa-instagram{
    color: #444;
}
.fa-facebook{
    color: blue;
}
.fa-youtube{
    color: red;
}
.fa-linkedin-in{
    color: #0073b1;
}
.fa-instagram{
    color: #F77737;
}
.address {
    margin-left: 15px;
}
.address a{
    text-decoration: none;
    color: #444;
    padding: 2px;
}
.address a .fa-location-arrow, .fa-phone, .fa-envelope{
    padding-right: 9px;
    font-size: 1.3rem;
}
.copyright{
    background-image: linear-gradient(to right, rgb(72, 72, 252), rgb(162, 4, 253));
    text-align: center;
    font-size: .9rem;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

