.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
      SEARCH ICONS
  ----------------------------------------------------- */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 20px;
  padding: 0 0 0 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  font-size: 15px;
  background: none;
  width: 150px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

/* ---------------------------------------------------
      PRODUCT ITEMS 
  ----------------------------------------------------- */
.content {
  padding: 0 40px;

  &__item {
    padding: 10px 0;
    list-style: none;
  }

  &__list{
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    border-radius: 3px;
    background: #4285f4;
    cursor: pointer;
    list-style: none;
    border: none;
    margin: 0;
    margin-right: 20px;
    color: #fff;
    transition: all .2s;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 5px;

    &:hover,
    &:focus,
    &:active {
      background-image: linear-gradient(to right bottom, rgb(21, 3, 88), rgb(72, 72, 252));
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    }

    &:focus,
    &:active {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .card {
    overflow: hidden;
    margin-right: 20px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 5px;

    &-img-top {
      width: auto;
      height: 175px;
      object-fit: contain;
    }

    img {
      border-bottom: 1px solid #eee;
    }

    &-text{
        font-size: 1.1rem;
        font-weight: 600;
        display: inline-block;
        padding-bottom: 5px;
    }
    
    .btn{
        cursor: pointer;
    }
  }
}
