/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
  #contents {
    width: 100%;
    position: absolute;
  }
  #sidebar {
    margin-left: -250px;
    z-index: 1;
    min-height: 100vh;
    transition: all .7s;
    //transform: rotateY(180deg);

    &.active {
      margin-left: 0px;
      z-index: 1;
      transform: none;
    }
  }
}
