p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background-image: linear-gradient(to right, rgb(72, 72, 252), rgb(162, 4, 253));
  color: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  text-align: center;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#navbarDropdown img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  border-radius: 50%;
  background: white;
  transition: all .3s;
}

.dropdown-menu {
  background-image: linear-gradient(to right bottom, rgb(49, 49, 250), rgb(103, 2, 235));
  left: -108px;

  .dropdown-item {
    font-size: 1em;
    display: block;
    color: #fff;

    &:hover {
      color: #fff;
      background: #4861d3;
    }
  }
}

.navbar-items{
  padding-right: 50px;
}


