.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-image: linear-gradient(to right bottom, rgb(72, 72, 252), rgb(162, 4, 253));
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;

  &__header {
    padding: 20px;
  }

  &__components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;

    li.active > a,
    a[aria-expanded="true"] {
      color: #fff;
      background: #4861d3;
    }

    .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  p {
    color: #fff;
    padding: 10px;
  }

  a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      background: #4861d3;
    }
  }

  #electronicsSubmenu a,
  #gamesSubmenu a,
  #categorySubmenu a {
    background: #021568;
    border-bottom: 1px solid #000;
    text-transform: none;

    &:hover {
      color: #7386d5;
      background: #fff;
    }
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  .hr-only {
    border-bottom: 1px solid #47748b;
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#contents {
  width: 100%;
  padding-bottom: 20px;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
  @media (min-width: 993px) {
    display: none;
  }

  span {
    width: 100%;
    height: 2px;
    display: block;
    background: #555;
    margin: 5px auto;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition-delay: 0.2s;
  }
}
