@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
      SEARCH ICONS
  ----------------------------------------------------- */
.searchbar {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 20px;
  padding: 0 0 0 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  font-size: 15px;
  background: none;
  width: 150px;
  caret-color: transparent;
  line-height: 40px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
}

/* ---------------------------------------------------
      PRODUCT ITEMS 
  ----------------------------------------------------- */
.content {
  padding: 0 40px;
}

.content__item {
  padding: 10px 0;
  list-style: none;
}

.content__list {
  display: inline-block;
  padding: 10px 0px;
  text-align: center;
  border-radius: 3px;
  background: #4285f4;
  cursor: pointer;
  list-style: none;
  border: none;
  margin: 0;
  margin-right: 20px;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 5px;
}

.content__list:hover, .content__list:focus, .content__list:active {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#150358), to(#4848fc));
  background-image: linear-gradient(to right bottom, #150358, #4848fc);
  -webkit-box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}

.content__list:focus, .content__list:active {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.content__list:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.content .card {
  overflow: hidden;
  margin-right: 20px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 20px;
}

.content .card-img-top {
  width: auto;
  height: 175px;
  -o-object-fit: contain;
     object-fit: contain;
}

.content .card img {
  border-bottom: 1px solid #eee;
  margin: 5px 0px;

}

.content .card-text {
  font-size: 1.1rem;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 5px;
}

.content .card .btn {
  cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
  #contents {
    width: 100%;
    position: absolute;
  }
  #sidebar {
    margin-left: -250px;
    z-index: 1;
    min-height: 100vh;
    -webkit-transition: all .7s;
    transition: all .7s;
  }
  #sidebar.active {
    margin-left: 0px;
    z-index: 1;
    -webkit-transform: none;
            transform: none;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4848fc), to(#a204fd));
  background-image: linear-gradient(to right, #4848fc, #a204fd);
  color: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
}

.navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

#navbarDropdown img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  border-radius: 50%;
  background: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dropdown-menu {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3131fa), to(#6702eb));
  background-image: linear-gradient(to right bottom, #3131fa, #6702eb);
  left: -108px;
}

.dropdown-menu .dropdown-item {
  font-size: 1em;
  display: block;
  color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #4861d3;
}

.navbar-items {
  padding-right: 50px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sidebar {
  overflow: auto;
  min-width: 250px;
  max-width: 250px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4848fc), to(#a204fd));
  background-image: linear-gradient(to right bottom, #4848fc, #a204fd);
  color: #fff;
  -webkit-transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.sidebar__header {
  padding: 20px;
}

.sidebar__components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.sidebar__components li.active > a,
.sidebar__components a[aria-expanded="true"] {
  color: #fff;
  background: #4861d3;
}

.sidebar__components .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar p {
  color: #fff;
  padding: 10px;
}

.sidebar a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-transform: uppercase;
}

/*.sidebar a:hover {
  color: #fff;
  background: #4861d3;
}
*/
.sidebar #electronicsSubmenu a,
.sidebar #gamesSubmenu a,
.sidebar #categorySubmenu a {
  background: #021568;
  border-bottom: 1px solid #000;
  text-transform: none;
}

/*.sidebar #electronicsSubmenu a:hover,
.sidebar #gamesSubmenu a:hover,
.sidebar #categorySubmenu a:hover {
  color: #7386d5;
  background: #fff;
}*/

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar ul ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.sidebar .hr-only {
  border-bottom: 1px solid #47748b;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#contents {
  width: 100%;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

@media (min-width: 993px) {
  #sidebarCollapse {
    display: none;
  }
}

#sidebarCollapse span {
  width: 100%;
  height: 2px;
  display: block;
  background: #555;
  margin: 5px auto;
  -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.footer-info {
  padding-top: 20px;
  background-color: #f1f1f1;
  color: #444;
  width: 100%;
  bottom: 0;
}

.about, .contact-info {
  padding-top: 20px;
}

.about-p {
  text-align: justify;
}

.logo-footer img {
  width: 120px;
  margin-left: 30%;
}

.logos {
  margin-left: 25%;
}

.logos a {
  padding-right: 20px;
  font-size: 25px;
}

.fa-facebook, .fa-youtube, .fa-linkedin-in, .fa-instagram {
  color: #444;
}

.fa-facebook {
  color: blue;
}

.fa-youtube {
  color: red;
}

.fa-linkedin-in {
  color: #0073b1;
}

.fa-instagram {
  color: #F77737;
}

.address {
  margin-left: 15px;
}

.address a {
  text-decoration: none;
  color: #444;
  padding: 2px;
}

.address a .fa-location-arrow, .fa-phone, .fa-envelope {
  padding-right: 9px;
  font-size: 1.3rem;
}

.copyright {
  background-image: -webkit-gradient(linear, left top, right top, from(#4848fc), to(#a204fd));
  background-image: linear-gradient(to right, #4848fc, #a204fd);
  text-align: center;
  font-size: .9rem;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */
